html {
  background-color: #f3f3f3;
}
html.orl {
  background-color: #fff;
}
body.modal-open {
  position: fixed;
  width: 100%;
}
.list:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.list li {
  line-height: 5rem;
  position: relative;
  font-size: 1.5rem;
  background-color: #fff;
  color: #333;
  margin-top: 0.5rem;
}
.list li:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.list li > a {
  display: block;
  overflow: hidden;
}
.list li.h {
  height: 12rem;
  line-height: 1.8rem;
}
.list li.half {
  width: 50%;
  float: left;
}
.list li.half .inpbox,
.list li.half .sr > p {
  margin: 0 2.5rem 0 7rem;
}
.list .ll {
  position: absolute;
  left: 1.5rem;
}
.list .rr {
  position: absolute;
  top: 0;
  right: 1.5rem;
  padding-right: 3rem;
}
.list .rr > a > i.iconfont,
.list .rr > i.iconfont {
  font-size: 2rem;
  color: #999;
  position: absolute;
  right: 1rem;
  top: 0;
}
.list .rr .checkboxt.ts,
.list .rr .checkbox.ts,
.list .rr > span {
  position: relative;
  left: 2.4rem;
}
.list .rr .checkbox.ts {
  display: inline-block;
}
.list .rr .checkbox.ts i.iconfont {
  color: #999;
}
.list .rr .checkbox.ts > input:checked + i {
  color: #ff9649;
}
.list .sr {
  position: relative;
  line-height: 5rem;
}
.list .sr > span {
  float: left;
  line-height: 5rem;
  margin-left: 1.5rem;
  font-size: 1.5rem;
}
.list .sr > span > i {
  font-style: normal;
  margin-right: 0.2rem;
}
.list .sr > p {
  padding: 1.2rem 0;
  margin: 0 1.5rem 0 10.2rem;
  line-height: 2.5rem;
}
.list .sr > p.w6 {
  margin-left: 12.2rem;
}
.list .sr > p.two {
  margin-right: 4.5rem;
}
.list .sr > p.w5 {
  margin: 0 1.5rem 0 12.2rem;
}
.list .sr > p.w6 {
  margin: 0 1.5rem 0 13rem;
}
.list .sr > p.w8 {
  margin: 0 1.5rem 0 17rem;
}
.list .sr > p.halftime {
  width: 32%;
  display: inline-block;
  margin: 0;
}
.list .sr .inpbox {
  margin: 0 4.5rem 0 10.2rem;
}
.list .sr .inpbox > input,
.list .sr .inpbox > select,
.list .sr .inpbox > textarea {
  font-size: 1.5rem;
  color: #666;
}
.list .sr .inpbox > input ::-webkit-input-placeholder,
.list .sr .inpbox > select ::-webkit-input-placeholder,
.list .sr .inpbox > textarea ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #666;
}
.list .sr .inpbox > input :-moz-placeholder,
.list .sr .inpbox > select :-moz-placeholder,
.list .sr .inpbox > textarea :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #666;
}
.list .sr .inpbox > input ::-moz-placeholder,
.list .sr .inpbox > select ::-moz-placeholder,
.list .sr .inpbox > textarea ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #666;
}
.list .sr .inpbox > input :-ms-input-placeholder,
.list .sr .inpbox > select :-ms-input-placeholder,
.list .sr .inpbox > textarea :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #666;
}
.list .sr .inpbox > input {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
}
.list .sr .inpbox > select {
  width: 100%;
}
.list .sr .inpbox > textarea {
  width: 100%;
  height: 12rem;
  padding: 1.5rem 0.5rem 0;
}
.list .sr .inpbox .checkboxt {
  display: inline-block;
  margin-right: 1rem;
}
.list .sr .inpbox .radio div {
  position: relative;
  top: 0.5rem;
}
.list .sr .inpbox.two {
  margin-right: 4.5rem;
}
.list .sr .inpbox.fiveword {
  margin: 0 1.5rem 0 12.2rem;
}
.list .sr .inpbox.sixword {
  margin: 0 1.5rem 0 13rem;
}
.list .sr .inpbox.eightword {
  margin: 0 1.5rem 0 17rem;
}
.list .sr .inpbox.halftime {
  width: 32%;
  display: inline-block;
  margin: 0;
}
.list.two li {
  margin-top: 0;
  border-bottom: 1px solid #ddd;
}
.inpinfo {
  background-color: #fff;
}
.inpinfo > textarea,
.inpinfo > div.con {
  padding: 1rem;
  height: 12rem;
}
.inpinfo > textarea {
  width: 100%;
  color: #666;
  font-size: 1.5rem;
}
.inpinfo > div.sr {
  margin: 0 1rem;
}
.inpinfo > div.sr .feedback {
  width: 100%;
  color: #666;
  font-size: 1.5rem;
  border: 1px solid #ddd;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  border-radius: 0.3rem;
  padding: 1rem;
  height: 12rem;
}
.inpinfo > div.con {
  padding: 1rem 1.5rem;
}
.inpinfo > div.con > span {
  font-size: 1.4rem;
  color: #666;
}
.inpinfo > div.con > span > i {
  font-style: normal;
  color: #36cdd8;
}
.inpinfo > h3 {
  font-size: 1.4rem;
  color: #666;
  padding: 2rem 1.5rem;
}
.inpinfo > div.checkCon {
  padding: 0 1.5rem;
  overflow: hidden;
}
.inpinfo > div.checkCon .checkbox {
  float: left;
  width: 50%;
  margin-bottom: 2rem;
}
.inpinfo > div.checkCon .checkbox > i {
  color: #666;
  font-size: 1.6rem;
}
.inpinfo > div.checkCon .checkbox > input:checked + i {
  color: #36cdd8;
}
.inpinfo > div.checkCon .checkbox > span {
  font-size: 1.4rem;
  color: #666;
}
.inpinfo > input,
.inpinfo > p.contxt {
  height: 5rem;
  line-height: 5rem;
  font-size: 1.5rem;
  color: #333;
  padding: 0 1.5rem;
}
.inpinfo > p.add,
.inpinfo > p.more {
  padding: 1.5rem 0;
  font-size: 1.6rem;
  color: #3296fa;
  text-align: center;
}
.inpinfo > p.add i.iconfont,
.inpinfo > p.more i.iconfont {
  font-size: 2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.inpinfo > p.more i.iconfont {
  font-size: 1.8rrem;
}
.inpinfo > p.txts {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  color: #8f8f8f;
}
.head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 5rem;
  line-height: 5rem;
  color: #fff;
  background-color: #36cdd8;
  z-index: 9999;
}
.head .left,
.head .right {
  height: 5rem;
  position: absolute;
  top: 0;
}
.head .left > a,
.head .right > a {
  font-size: 1.6rem;
  position: relative;
}
.head .left > a i.iconfont,
.head .right > a i.iconfont {
  font-size: 2.4rem;
  vertical-align: middle;
}
.head .left > a > b,
.head .right > a > b {
  display: block;
  width: 18px;
  height: 12px;
  line-height: 12px;
  font-size: 10px;
  text-align: center;
  background-color: #fe7628;
  border: 1px solid #fff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  position: absolute;
  top: -8px;
  right: -8px;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.head .left {
  left: 1rem;
}
.head .left > a i.iconfont {
  margin-right: 0.5rem;
}
.head .right {
  right: 1rem;
}
.head .rightBtn {
  position: absolute;
  right: 6rem;
  height: 5rem;
  top: 0;
}
.head .right > a i.iconfont {
  margin-left: 0.5rem;
}
.head .right.two {
  right: 2rem;
}
.head > p {
  line-height: 4.8rem;
  font-size: 2rem;
  text-align: center;
}
.head > p span.kl,
.head > p span.ky {
  font-size: 1.8rem;
  line-height: 4rem;
  border: 1px solid #fff;
  padding: 0.5rem;
}
.head > p span.kl.active,
.head > p span.ky.active {
  background-color: #fff;
  color: #000;
}
.head > p span.kl {
  -webkit-border-radius: 0.7rem 0 0 0.7rem;
  -moz-border-radius: 0.7rem 0 0 0.7rem;
  -ms-border-radius: 0.7rem 0 0 0.7rem;
  border-radius: 0.7rem 0 0 0.7rem;
}
.head > p span.ky {
  -webkit-border-radius: 0 0.7rem 0.7rem 0;
  -moz-border-radius: 0 0.7rem 0.7rem 0;
  -ms-border-radius: 0 0.7rem 0.7rem 0;
  border-radius: 0 0.7rem 0.7rem 0;
}
.bottombox {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.swiper-container {
  width: 100%;
}
.swiper-container .swiper-slide {
  height: 100%;
}
.swiper-container .swiper-slide > img {
  width: 100%;
  height: 100%;
}
.pic-look {
  display: none;
  position: fixed!important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999!important;
  background-color: rgba(0, 0, 0, 0.8);
  vertical-align: middle;
}
.pic-look .swiper-slide {
  height: 100%;
  width: 100%;
  text-align: center;
}
.pic-look .swiper-slide > span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.pic-look .swiper-slide > img {
  width: 100%;
  height: auto;
  max-height: 100%;
  vertical-align: middle;
}
.pic-look .close {
  display: block;
  font-size: 3rem;
  border: 0.3rem solid #fff;
  color: #fff;
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2.6rem;
  font-weight: normal;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.findbox {
  background-color: #fff;
  margin: 1.5rem 1rem;
  height: 3.5rem;
  line-height: 3.5rem;
  -webkit-border-radius: 1.75rem;
  -moz-border-radius: 1.75rem;
  -ms-border-radius: 1.75rem;
  border-radius: 1.75rem;
  color: #a2a2a2;
  transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  text-align: center;
}
.findbox i.iconfont {
  font-size: 1.7rem;
  margin-left: 1rem;
  position: relative;
  top: 0.1rem;
  margin-right: 0.5rem;
  transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.findbox > span {
  font-size: 1.5rem;
}
.findbox input {
  display: inline-block;
  font-size: 1.5rem;
  width: 85%;
  transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.findbox.mt5 {
  margin-top: 5rem;
}
.home {
  width: 100%;
  position: relative;
  height: 27.5rem;
}
.home .con {
  background-color: #36cdd8;
  width: 100%;
  position: relative;
}
.home .con > h3 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0 2rem;
}
.home .con > p {
  font-size: 1.4rem;
  color: #dcfdff;
  text-align: center;
  padding: 0.5rem 0 7.5rem;
}
.home .personinfo {
  text-align: center;
  overflow: hidden;
}
.home .personinfo .ll,
.home .personinfo .cc,
.home .personinfo .rr {
  display: inline-block;
}
.home .personinfo .cc {
  width: 10.9rem;
  text-align: center;
}
.home .personinfo .cc .pic {
  width: 100%;
  height: 10.9rem;
  line-height: 10.9rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.home .personinfo .cc .pic > img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.home .personinfo .cc > p {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: #fff;
}
.home .personinfo .ll,
.home .personinfo .rr {
  font-size: 1.4rem;
  color: #0d8f98;
  text-align: center;
  vertical-align: top;
  margin-top: 3rem;
}
.home .personinfo .ll > p,
.home .personinfo .rr > p {
  color: #c3fbff;
}
.home .personinfo .ll > p > span,
.home .personinfo .rr > p > span {
  font-size: 3rem;
  color: #fff;
  display: inline-block;
  max-width: 6rem;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  top: 0.5rem;
  vertical-align: bottom;
}
.home .personinfo .ll {
  margin-right: 1.5rem;
}
.home .personinfo .rr {
  margin-left: 1.5rem;
}
.home .logo {
  text-align: center;
}
.home .logo > img {
  width: 5.7rem;
  height: auto;
  margin: 10% 0 1.5rem;
}
.home .logo > p {
  color: #fff;
  font-size: 2rem;
  padding-bottom: 7.5rem;
}
.home .logo > p > span {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
.home.two:after {
  position: absolute;
  bottom: -3rem;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 6rem;
  background-color: #36cdd8;
  -webkit-border-radius: 0 0 50% 50%;
  -moz-border-radius: 0 0 50% 50%;
  -ms-border-radius: 0 0 50% 50%;
  border-radius: 0 0 50% 50%;
}
.homelist .con {
  background-color: #fff;
  margin: 0 1.2rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  border-radius: 2.5rem;
  position: relative;
  top: 0;
}
.homelist .con.two {
  top: -5rem;
  padding: 3.6rem 4rem;
}
.homelist .login li {
  height: 4.5rem;
  line-height: 4.5rem;
  background-color: #f3f3f3;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid #36cdd8;
  margin-bottom: 1rem;
}
.homelist .login li i.iconfont {
  float: left;
  color: #26e0ed;
  font-size: 2.4rem;
  margin-left: 1.25rem;
}
.homelist .login li > div.sr {
  margin: 0 1.2rem 0 5rem;
  color: #555;
}
.homelist .login li > div.sr > input {
  width: 100%;
  height: 4.5rem;
  font-size: 1.6rem;
}
.homelist .li {
  height: 8.5rem;
  padding: 0 1.5rem;
  position: relative;
}
.homelist .li > img {
  float: left;
  width: 3.15rem;
  height: 3.15rem;
  margin-top: 3rem;
}
.homelist .li .listtxt {
  padding-top: 2rem;
  margin: 0 0 0 4rem;
}
.homelist .li .listtxt > p {
  font-size: 1.4rem;
  color: #999;
}
.homelist .li .listtxt > p > span {
  display: block;
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
}
.homelist .li .listtxt > i.iconfont {
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  top: 3rem;
  color: #999;
}
.homelist .li .listtxt > b {
  display: inline-block;
  position: absolute;
  right: 5rem;
  top: 3rem;
  padding: 0 1rem;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  color: #ff0810;
  font-size: 1.2rem;
  font-weight: normal;
  border: 1px solid #ff0810;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  border-radius: 0.8rem;
}
.homelist .reservefind {
  margin-top: 2rem;
  width: 100%;
  background-color: #f6f6f6;
  padding: 0.75rem 0;
  overflow: hidden;
}
.homelist .reservefind > img {
  float: left;
  width: 11.75rem;
  height: auto;
  margin-left: 6%;
}
.homelist .reservefind > p {
  margin: 0 1rem 0 45%;
  font-size: 1.4rem;
  color: #999;
}
.homelist .reservefind > p > span {
  padding-top: 0.8rem;
  display: block;
  color: #333;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.homelist .reservefind.two {
  height: auto;
  line-height: initial;
}
.prompt {
  font-size: 1.4rem;
  color: #888;
  text-align: center;
}
.prompt i {
  font-style: normal;
  margin-right: 0.2rem;
}
.selpeople {
  background-color: #fff;
}
.selpeople .li {
  padding: 1rem 1.5rem;
  border-top: 1px solid #dfe0e1;
  position: relative;
}
.selpeople .li .checkboxt.round {
  height: 100%;
  margin-right: 6rem;
}
.selpeople .li .checkboxt.round > i,
.selpeople .li .checkboxt.round > b {
  top: 1.8rem;
}
.selpeople .li .checkboxt.round > span {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #888;
  margin-left: 2.8rem;
  height: 5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.selpeople .li .checkboxt.round > span > span {
  display: block;
  font-size: 1.6rem;
  color: #666;
}
.selpeople .li .checkboxt.round > span > span > i {
  font-style: normal;
  font-size: 1.4rem;
  color: #888;
  margin-left: 1.5rem;
}
.selpeople .li > a {
  position: absolute;
  right: 0;
  top: 1.2rem;
  font-size: 1.4rem;
  color: #999;
  text-align: center;
  width: 6rem;
  height: 4.5rem;
  line-height: 4.5rem;
  border-left: 1px solid #dfe0e1;
}
.refer {
  border-top: 1px solid #ddd;
  height: 5rem;
  line-height: 5rem;
  background-color: #fff;
  padding: 0 1.5rem;
}
.refer > p {
  font-size: 1.6rem;
  color: #0daab5;
  margin-right: 9rem;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.refer > p > b {
  color: #fe8f01;
  font-size: 2rem;
}
.refer button.btn {
  height: 3.6rem;
  line-height: 3.6rem;
  padding: 0 3rem;
  position: absolute;
  top: 0.7rem;
  right: 1rem;
}
.refer.gray {
  background-color: #f7f7f7;
}
.selfull {
  background-color: #fff;
  border-top: 1px solid #ddd;
  position: absolute;
  top: 11.5rem;
  left: 0;
  right: 0;
  bottom: 5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.selfull li {
  padding: 0 1.5rem;
  height: 5.5rem;
  border-bottom: 1px solid #ddd;
}
.selfull li .checkboxt {
  width: 100%;
  height: 5.5rem;
  line-height: 5.5rem;
}
.selfull li .checkboxt > i,
.selfull li .checkboxt > b {
  top: 1.6rem;
}
.selfull li .checkboxt > span {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  font-size: 1.6rem;
  margin-left: 3rem;
  line-height: 2.2rem;
}
.fullan {
  padding: 1rem;
  background-color: #fff;
}
.halfbtn {
  padding: 1rem;
  text-align: center;
  background-color: #fff;
}
.halfbtn button.btn {
  width: 40%;
  margin: 0 3%;
}
.fstab > div.tabtitle {
  position: fixed;
  left: 0;
  right: 0;
  top: 5rem;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  z-index: 100;
}
.fstab .tabLi {
  width: 120%;
  height: 5.5rem;
  line-height: 5.5rem;
  display: flex;
  background-color: #fff;
  position: relative;
}
.fstab .tabLi li {
  flex: 1;
  -webkit-flex: 1;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #474747;
}
.fstab .tabLi li.active {
  color: #fff;
}
.fstab .tabLi li:nth-child(1).active {
  background-color: #4ba2e7;
}
.fstab .tabLi li:nth-child(2).active {
  background-color: #29ab91;
}
.fstab .tabLi li:nth-child(3).active {
  background-color: #ffb415;
}
.fstab .tabLi li:nth-child(4).active {
  background-color: #39d1ab;
}
.fstab .tabLi li:nth-child(5).active {
  background-color: #f15a4a;
}
.fstab .tabLi li:nth-child(6).active {
  background-color: #ca85ff;
}
.fstab .tabCon {
  margin-top: 5rem;
  width: 100%;
}
.fstab .tabCon > div {
  width: 100%;
}
.fstab.two > div.tabtitle {
  position: static;
  z-index: 1;
}
.fstab.two .tabCon {
  margin-top: 0;
}
.succinfopage .yybg {
  background-color: #36cdd8;
  height: 15.5rem;
}
.succinfopage .con {
  position: relative;
  top: -10rem;
  padding: 1rem 0.5rem 6rem;
  margin: 0 1rem;
  background-color: #fff;
  text-align: center;
}
.succinfopage .con > img {
  width: 16.5rem;
  height: auto;
  margin-bottom: 2rem;
}
.succinfopage .con > h3 {
  font-weight: normal;
  font-size: 1.6rem;
  color: #20c37a;
  margin-bottom: 1rem;
}
.succinfopage .con > h3 > i.iconfont {
  font-size: 2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.succinfopage .con > p {
  font-size: 1.4rem;
  color: #666;
  margin-bottom: 3rem;
}
.succinfopage .con > p > a {
  font-weight: bold;
  color: #16b3df;
  margin: 0 0.3rem;
}
.pyfind {
  background-color: #fff;
}
.pyfind li {
  position: relative;
  padding: 0 1.5rem;
}
.pyfind li > a {
  display: block;
}
.pyfind li a > span {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 1.4rem;
  color: #666;
  text-align: right;
}
.pyfind li a > span > b {
  display: block;
  font-weight: normal;
  font-size: 1.2rem;
  color: #999;
}
.pyfind li a > span > i.iconfont {
  position: absolute;
  top: 0;
  right: -3rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.4rem;
  text-align: right;
  padding-right: 0.4rem;
  background-color: #f3f3f3;
  box-sizing: border-box;
  color: #d0d0d0;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.pyfind li.active > a > span > i.iconfont {
  border-color: #ff5800;
  background-color: #ff5800;
  color: #fff;
}
.pyfind .txtcon {
  border-left: 1px solid #e6e6e6;
  margin-left: 5rem;
  padding-left: 2rem;
}
.pyfind .txt {
  border-bottom: 1px solid #bebfc1;
  padding: 1rem 0;
  position: relative;
}
.pyfind .txt > h3 {
  font-size: 1.6rem;
  font-weight: normal;
  color: #333;
  margin-bottom: 0.6rem;
}
.pyfind .txt > p {
  color: #444;
  font-size: 1.4rem;
}
.pyfind .txt > div {
  font-size: 1.4rem;
  color: #666;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pyfind .txt > div > span {
  color: #888;
}
.pyfind .txt > b {
  font-weight: normal;
  font-size: 1.4rem;
  position: absolute;
  top: 1rem;
  right: 0;
}
.load {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  color: #999;
  text-align: center;
}
.cap {
  background-color: #f8bf5e;
  padding: 0 2rem;
  height: 3.5rem;
  line-height: 3.5rem;
  position: relative;
}
.cap p {
  color: #fff;
  font-size: 1.6rem;
}
.cap div.rr {
  position: absolute;
  top: 0;
  right: 2rem;
}
.cap div.rr > span {
  color: #ac7414;
  font-size: 1.4rem;
}
.pydeatilinfo {
  background-color: #fff;
}
.pydeatilinfo .info {
  padding: 1.5rem 2rem 0;
  border-top: 1px solid #e6e6e6;
}
.pydeatilinfo .info:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.pydeatilinfo .info li {
  font-size: 1.4rem;
  color: #333;
  padding-bottom: 1.5rem;
}
.pydeatilinfo .info li > span {
  color: #666;
}
.pydeatilinfo .info li > i.colorbox {
  display: inline-block;
  width: 2rem;
  height: 0.8rem;
  background-color: #f99393;
  vertical-align: middle;
  margin-right: 0.5rem;
  position: relative;
  top: -0.2rem;
}
.pydeatilinfo .info li.f2 {
  float: left;
  width: 50%;
}
.pydeatilinfo .info li.f4 {
  float: left;
  width: 25%;
}
.pyproject {
  background-color: #fff;
}
.pyproject > li {
  border-top: 1px solid #b9b9bb;
}
.pyproject > li > div {
  background-color: #f3f3f3;
  font-size: 1.4rem;
  color: #333;
  height: 4rem;
  line-height: 4rem;
  padding: 0 6rem 0 2rem;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}
.pyproject > li > div .rr {
  position: absolute;
  top: 0;
  right: 2rem;
}
.pyproject > li > div .rr i.iconfont {
  display: inline-block;
  font-size: 1.6rem;
  color: #999;
  height: 4rem;
  line-height: 4rem;
}
.pyproject > li > dl {
  display: none;
}
.pyproject > li > dl dd {
  border-bottom: 1px solid #c3c0c3;
  position: relative;
  padding: 1rem 0;
  overflow: hidden;
}
.pyproject > li > dl dd > p {
  float: left;
  max-width: 50%;
  padding-left: 2rem;
  font-size: 1.4rem;
  color: #4db823;
  box-sizing: border-box;
}
.pyproject > li > dl dd > p > span {
  margin-top: 0.3rem;
  color: #888;
  font-size: 1.2rem;
  display: block;
}
.pyproject > li > dl dd > span {
  display: block;
  font-size: 1.4rem;
  color: #333;
  min-height: 8rem;
  margin: 0 2rem;
}
.pyproject > li > dl dd:last-child {
  border-bottom: 0 none;
}
.pyproject > li > dl .rr {
  width: 50%;
  float: right;
  box-sizing: border-box;
  padding-right: 2rem;
  text-align: right;
}
.pyproject > li > dl .rr > b {
  display: inline-block;
  text-align: right;
  color: #000;
  font-size: 1.4rem;
}
.pyproject > li > dl .rr > b > span {
  font-weight: normal;
  margin-top: 0.3rem;
  color: #888;
  font-size: 1.2rem;
  display: block;
}
.pyproject > li > dl dd.red {
  background-color: #f99393;
}
.pyproject > li > dl dd.red > p {
  color: #fff;
}
.pyproject > li > dl dd.red > p > span {
  color: #fff;
}
.pyproject > li > dl dd.red .rr > b > span {
  color: #333;
}
.pyproject > li.active > dl {
  display: block;
}
.reservefind {
  position: relative;
  background-color: #fff;
  height: 6rem;
  line-height: 6rem;
}
.reservefind .findsel {
  color: #ff5000;
}
.reservefind .findsel select {
  width: 5rem;
  color: #ff5000;
  font-size: 1.4rem;
  margin-left: 1.5rem;
}
.reservefind .findsel i.iconfont {
  font-size: 2rem;
  vertical-align: middle;
}
.reservefind .findbox {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  left: 10rem;
  background-color: #f3f3f3;
  margin: 0;
}
.findcon {
  background-color: #fff;
  padding: 1rem;
}
.findcon .findbox {
  background-color: #f3f3f3;
  margin: 0;
}
.reservelist {
  padding: 1rem 1rem 0;
}
.reservelist li {
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  margin-bottom: 1rem;
}
.reservelist .header {
  color: #323334;
  font-size: 1.4rem;
  background-color: #effbff;
  border-bottom: 1px solid #e6e6e6;
  height: 3.8rem;
  line-height: 3.8rem;
  padding: 0 1rem;
  position: relative;
}
.reservelist .header > i.iconfont {
  font-size: 1.8rem;
  vertical-align: middle;
  margin-right: 0.5rem;
  color: #39e2ef;
}
.reservelist .header div.rr {
  position: absolute;
  top: 0;
  right: 1rem;
}
.reservelist .con {
  padding: 2.4rem 1.5rem;
}
.reservelist .con > p {
  font-size: 1.4rem;
  color: #888;
  margin-bottom: 0.5rem;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.reservelist .footer {
  height: 5rem;
  line-height: 5rem;
  border-top: 1px solid #e6e6e6;
  position: relative;
}
.reservelist .footer > p {
  color: #333;
  font-size: 1.4rem;
  padding: 0 1.5rem;
}
.reservelist .footer > div.rr {
  position: absolute;
  top: 0;
  right: 1.5rem;
}
.infocard {
  margin: 2rem;
  background-color: #36cdd8;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  border-radius: 0.5rem;
  padding: 3rem 1.5rem;
  overflow: hidden;
}
.infocard div.img {
  float: left;
  height: 11rem;
  overflow: hidden;
}
.infocard div.img > img {
  display: inline-block;
  vertical-align: middle;
  width: 8.5rem;
  height: auto;
}
.infocard div.img:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 11rem;
}
.infocard div.txtinfo {
  margin-left: 10rem;
  color: #fff;
}
.infocard div.txtinfo > h3 {
  font-weight: normal;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.infocard div.txtinfo > p {
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
}
.infocard div.txtinfo.orl {
  margin-left: 0;
}
.seth {
  height: 20rem;
  overflow: hidden;
}
.pypeoplelist {
  background-color: #fff;
}
.pypeoplelist li {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #dfe0e1;
  position: relative;
}
.pypeoplelist .txtcon > h3 {
  font-weight: normal;
  font-size: 1.8rem;
  color: #666;
  margin-bottom: 0.5rem;
}
.pypeoplelist .txtcon > h3 > span {
  margin-left: 0.6rem;
  font-size: 1.4rem;
  color: #b0b0b0;
}
.pypeoplelist .txtcon > p {
  font-size: 1.4rem;
  color: #888;
}
.pypeoplelist .rr {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
.pypeoplelist .rr > a,
.pypeoplelist .rr > span {
  font-size: 1.4rem;
  color: #999;
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
}
.pypeoplelist .rr > span {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid #ddd;
}
.paytype {
  padding: 0 1.5rem;
  font-size: 1.6rem;
  color: #333;
  height: 4.7rem;
  line-height: 4.7rem;
  position: relative;
}
.paytype > p > img {
  vertical-align: middle;
  margin-right: 0.5rem;
}
.paytype .checkboxt {
  position: absolute;
  top: 1.4rem;
  right: 1.5rem;
}
.costinfo {
  background-color: #fff;
}
.costinfo > .con {
  padding: 0 1.5rem;
}
.costinfo > .con > h3 {
  font-size: 2.2rem;
  color: #333;
  font-weight: normal;
  padding: 2rem 0;
}
.costinfo > .con > h3 > span {
  font-size: 1.6rem;
  color: #555;
}
.costinfo > .con > p {
  font-size: 1.2rem;
  color: #666;
}
.costinfo > .con > p > i.iconfont {
  font-size: 1.8rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.costinfo > .con > p > span {
  margin-right: 2rem;
}
.costinfo .totalcost {
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  margin-top: 3rem;
}
.costinfo .totalcost > .con {
  margin: 0 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #d9d9d9;
}
.costinfo .totalcost > .con > h3 {
  font-size: 1.6rem;
  color: #333;
  font-weight: normal;
  margin-right: 7rem;
}
.costinfo .totalcost > .con > b {
  color: #fe8f01;
  font-size: 2.8rem;
}
.costinfo .totalcost > .con > b > span {
  font-size: 2rem;
  font-weight: normal;
}
.costinfo .totalcost > .con > button {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  height: 4rem;
  line-height: 4rem;
}
.costinfo .totalcost.fixedtop {
  position: fixed;
  top: 5rem;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0;
  padding-top: 1rem;
}
.costinfo .totalcost.fixedtop > .con {
  padding-bottom: 1rem;
}
.costcon {
  margin: 1rem 0;
  background-color: #fff;
}
.costcon .headtitle {
  margin-left: 1.5rem;
  border-bottom: 1px solid #d9d9d9;
  padding: 1.5rem 0;
}
.costcon .headtitle p {
  height: 2rem;
  border-left: 0.4rem solid #fe8f01;
  font-size: 1.5rem;
  color: #333;
  padding-left: 1rem;
}
.costcon > ul {
  margin-left: 1.6rem;
  max-height: 31rem;
  overflow: hidden;
}
.costcon > ul li {
  font-size: 1.4rem;
  color: #747474;
  height: 5rem;
  line-height: 5rem;
  padding-right: 7rem;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.costcon > ul li > span {
  color: #555;
  margin-right: 0.5rem;
}
.costcon > ul li > b {
  font-weight: normal;
  font-size: 1.8rem;
  color: #fe8f01;
  position: absolute;
  top: 0;
  right: 1.5rem;
}
.costcon > p {
  text-align: center;
  font-size: 1.4rem;
  color: #17c3cf;
  height: 3.9rem;
  line-height: 3.9rem;
  border-bottom: 1px solid #d9d9d9;
}
.costcon > p > i.iconfont {
  font-size: 1.4rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}
.costsucc > div {
  text-align: center;
}
.costsucc > div > img {
  width: 6.6rem;
  height: 6.4rem;
  margin: 2rem 0 1rem;
}
.costsucc > div > h3 {
  font-size: 2rem;
  color: #36cdd8;
  font-weight: normal;
  margin-bottom: 1rem;
}
.costsucc > div > p {
  font-size: 2rem;
  color: #fe8f01;
}
.costsucc > div > p > span {
  display: block;
  font-size: 1.4rem;
  color: #666;
}
.costsucc > ul {
  background-color: #e1fcfe;
  margin: 1rem 1.5rem;
  padding: 2rem 2.1rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
.costsucc > ul li {
  font-size: 1.6rem;
  color: #393c4f;
  margin-bottom: 1rem;
}
.costsucc > ul li > span {
  float: left;
}
.costsucc > ul li > p {
  margin-left: 8rem;
  text-align: right;
}
.costsucc > p {
  font-size: 1.4rem;
  color: #36cdd8;
  text-align: center;
  margin: 2rem 0 1rem;
}
.winchoose {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.winchoose .winBox {
  width: auto;
  max-width: 100%;
  background-color: #fff;
}
.winchoose .winBox .content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #f3f3f3;
}
.winchoose .winBox .content .selpeople {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 5rem;
  overflow: auto;
}
.winphoto .content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #fff;
}
.winphoto .photoshow {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 14.95rem;
}
.winphoto .photoshow .modepic,
.winphoto .photoshow .takephotobox {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.winphoto .photoshow .modepic {
  background: url(takephotomode.png) no-repeat center center;
  background-size: cover;
}
.winphoto .tooltakephoto {
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 1.5rem;
  height: 13.75rem;
  padding-top: 1.2rem;
}
.winphoto .tooltakephoto .enterbox {
  margin: 1.2rem;
}
.winphoto .tooltakephoto > p {
  color: #666;
  margin-bottom: 1.8rem;
}
.winphoto .tooltakephoto > p > i.iconfont {
  color: #ff8a00;
  font-size: 1.7rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.winphoto .tooltakephoto > p.pass > i.iconfont {
  color: #41d853;
}
.winphoto .tooltakephoto > a {
  display: inline-block;
  color: #38adff;
  margin-bottom: 1rem;
}